// @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "MyFont";
  src: url("../public/fonts/snellroundhand_black.otf") format("opentype");
  /* Дополнительные свойства шрифта, если нужно */
}

@font-face {
  font-family: "MyFont-Bold";
  src: url("../public/fonts/snellroundhand_bold.otf") format("opentype");
  /* Дополнительные свойства шрифта, если нужно */
}
/* Указываем box sizing */
*,
*::before,
*::after {
  font-family: "MyFont" !important;

  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  font-family: "MyFont" !important;
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  font-family: "MyFont" !important;
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  // min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: url("../public/images/bg.jpeg") no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "MyFont" !important;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class],
li[class] {
  font-family: "MyFont" !important;
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  font-family: "MyFont" !important;

  text-decoration-skip-ink: auto;
  text-decoration: none;
}
a {
  font-family: "MyFont" !important;

  text-decoration: none;
}
/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font-family: "MyFont" !important;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.main {
  font-family: "MyFont" !important;
  min-height: 100vh;
  height: max-content;
}

* {
  font-family: "MyFont" !important;
}
